*.class
run
release
/target/
/src/test/java/org/elasticsearch/plugin/
/src/main/java/org/elasticsearch/river/eea_rdf/settings/EEASettings.class
pom.xml.versionsBackup
pom.xml.releaseBackup
.classpath
.project

